{% extends "base.html" %}

{% block title %}Registrar Account{% endblock %}

{% block header %}Registrar Account{% endblock %}

{% block content %}
    <div class="container">
        <h2>Change Password</h2>
        <form action="change_password.php" method="POST">
            <label>Username: TESP-XX-XXXX</label><br><br>
            <label>Old Password:</label><br>
            <input type="password" placeholder="Enter old password"><br><br>
            <label>New Password:</label><br>
            <input type="password" placeholder="8-10 characters"><br><br>
            <label>Confirm Password:</label><br>
            <input type="password" placeholder="8-10 characters"><br><br>
            <input type="submit" value="Confirm">
        </form>

        <!-- Back to Dashboard Button -->
        <a href="{% url 'registrar_dashboard' %}" 
    </div>
{% endblock %}
