<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings</title>
    
</head>
<body>
    {% extends 'student_template.html' %}

    {% block title %}Student Profile{% endblock %}

    {% block content %}

    <div class="account-container">
        <h2>Account Settings</h2>
        <label>New Password:</label><br>
        <input type="password" placeholder="Enter new password" required><br><br>
        <label>Confirm Password:</label><br>
        <input type="password" placeholder="Confirm new password" required><br><br>
        <button>Change Password</button>

    </div>
    {% endblock %}

</body>
</html>
